.App {
  border: 2px solid;
  height:99vh;
  width:40%;
  margin: 0 auto;
  position: relative;
  border-radius:1%;
}

footer{
  position: absolute;
	bottom: 0;
  padding:4px;
  display: flex;
  width: 100%;
}
#msg{
  width:65%;
}
#user{
  width:20%;
}
#btn {
  width:10%;
}